<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
</ion-toolbar>
<ion-title>NewSchool</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>

    <form >
      <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" [routerLink]="['/adm']" expand="block">Entrar</ion-button>
          <ion-button type="submit" fill="outline" color="primary" expand="block" (click)="alertando()">Cadastrar</ion-button>
        </ion-col>
      </ion-row>
    </form>

  </ion-content>
</ion-content>
