<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>  
</ion-toolbar>
<ion-title>NewSchool</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

<ion-card>
  <img [src]="produto.imagem" />
  <ion-card-header>
    <ion-card-title>{{produto.produto}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-card-subtitle>Preço:</ion-card-subtitle>
    R$ {{produto.preco}}
  </ion-card-content>
  
  <ion-card-content>
    <ion-card-subtitle>Descrição:</ion-card-subtitle>
    {{produto.descricao}}
  </ion-card-content>

</ion-card>


</ion-content>