<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
<ion-title>NewSchool</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Sobre</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-title>NewSchool</ion-card-title>
    <ion-card-subtitle><em>A Empresa</em></ion-card-subtitle>
  </ion-card-header>
</ion-card>


<ion-card-content>
  <ion-toolbar>
    <ion-title size="large">Visão</ion-title>
  </ion-toolbar>
  A busca incessante em proporcionar a melhor relação com os nossos clientes, fornecedores, parceiros e colaboradores, por nossa eficiência, inovação e responsabilidade social, ampliando nossa participação no mercado brasileiro e assim colaborando com o desenvolvimento do país.
 </ion-card-content>

  <ion-card-content>
  <ion-toolbar>
    <ion-title size="large">Missão</ion-title>
  </ion-toolbar>
  Contribuir para o desenvolvimento pessoal e profissional através do conhecimento. Descobrir, apoiar e promover o talento literário, objetivando oferecer aos leitores de todo do Brasil e do mundo obras publicadas nos mais diversos gêneros, todas com qualidade e estética exemplar.
</ion-card-content>

<ion-card-content>
  <ion-toolbar>
    <ion-title size="large">Valores</ion-title>
  </ion-toolbar>
  Incentivo à leitura, ao desenvolvimento humano e à construção de uma sociedade melhor; Trabalho em equipe com profissionalismo, competência, entusiasmo e inovação.
</ion-card-content>

</ion-content>